{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block start %}
<div class="container mt-5">
    {% if request.user.is_authenticated %}
        <a href="{% url 'see-blog' %}" class="btn btn-warning">View Your blogs</a>
    {% endif %}

    <form method="POST" class="mt-5 pt-5 mb-5 pb-5" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{form.media}}
                {{form.as_p}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Create Blog</button>
    </form>
</div>
{% endblock %}
