<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
   <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="" class="text-white text-2xl font-semibold">My Blog</a>
            <div class="flex items-center">


                         {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="text-white">Logout</a>/
                <a href="{% url 'add-blog' %}" class="text-white">Add Blog</a>
                {% else %}
                <a href="{% url 'register' %}" class="text-white mr-4">sign up</a>

                <a href="{% url 'login' %}" class="text-white mr-4">Login</a>
              {% endif %}
            </div>
        </div>
    </nav>

    {% block start %}
    <!-- Your content goes here -->
    {% endblock %}

    <footer class="py-4 bg-gray-800 text-gray-300 mt-auto">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; <script>document.write(new Date().getFullYear())</script> My Blog. All rights reserved.</p>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
