{% extends "base.html" %}

{% block start %}
<html lang="en">

<!-- Header Section -->
<header class="py-16 bg-cover bg-center bg-gradient-to-b from-gray-400 via-gray-600 to-gray-800 text-white">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">Welcome to Your Blog</h1>
        <p class="text-xl md:text-2xl">Discover amazing stories, articles, and more.</p>
        
        <form method="GET" action="{% url 'home' %}" class="mt-8">
            <input type="text"id="tags" name="tags" value="{{ search_in }}" placeholder="Search for articles..."
                class="w-full md:w-1/2 px-4 py-2 rounded-lg focus:outline-none focus:ring focus:border-gray-300 bg-white text-gray-800">
            <button type="submit"
                class="bg-blue-500 text-white rounded-lg px-4 py-2 md:py-3 hover:bg-blue-600 ml-2 focus:outline-none focus:ring focus:border-gray-300">Search</button>
        </form>
    </div>
</header>

<!-- Blog Section -->
<section class="py-8">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- Blog Cards (Repeat for each blog post) -->
        {% for blog in blogs %}
        <div class="bg-white rounded-lg shadow-lg">
            <a href="{% url 'blog-details' blog.id %}">
                <img src="/media/{{ blog.image }}" alt="Blog 1" class="w-full h-40 object-cover">
            </a>
            <div class="p-4">
                <h2 class="text-lg md:text-xl lg:text-2xl font-semibold text-gray-800 mb-2">{{ blog.title }}</h2>
                <span>{{ blog.user.username }}</span>
                <p class="text-gray-600 text-sm">{{ blog.created_at }}</p>
                <div class="flex justify-between mt-4">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M4.293 7.293a1 1 0 011.414-1.414L10 10.586l4.293-4.293a1 1 0 111.414 1.414L11.414 12l4.293 4.293a1 1 0 01-1.414 1.414L10 13.414l-4.293 4.293a1 1 0 01-1.414-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                        {{ blog.likes.count }}
                    </div>
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 3a7 7 0 017 7c0 3.866-3.134 7-7 7s-7-3.134-7-7a7 7 0 017-7zm0 2a5 5 0 00-5 5c0 2.761 2.239 5 5 5a5 5 0 005-5 5 5 0 00-5-5zm0 2a3 3 0 00-3 3c0 1.658 1.342 3 3 3a3 3 0 003-3 3 3 0 00-3-3z"
                                clip-rule="evenodd" />
                        </svg>
                        {{ blog.comments.count }}
                    </div>
                </div>
                <div class="mt-4">
                    {% if request.user == blog.user %}
                    <a href="{% url 'update-blog' blog.id %}"
                        class="bg-blue-500 text-white rounded-full px-4 py-2 md:py-3 hover:bg-blue-600">Update</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <h3 class="text-center">NO results found..!</h3>
        {% endfor %}
    </div>
</section>

<!-- Footer -->

{% endblock %}
