{% extends "base.html" %}

{% block start %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full md:w-3/5 xl:w-2/5 p-5">
    <form method="POST" class="bg-white p-8 rounded-lg shadow-md">
      {% csrf_token %}
      {% if messages %}
        {% for message in messages %}
        <div class="mb-4 bg-{{ message.tags }}-100 border-{{ message.tags }}-500 text-{{ message.tags }}-700 border-l-4 p-4 rounded">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold" for="loginUsername">Username</label>
        <input class="form-input w-full px-3 py-2 text-gray-700 border rounded-md focus:outline-none focus:shadow-outline" name="username" id="loginUsername" type="text" placeholder="name@address.com" autocomplete="off" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold" for="loginPassword">Password</label>
        <input class="form-input w-full px-3 py-2 text-gray-700 border rounded-md focus:outline-none focus:shadow-outline" name="password" id="loginPassword" placeholder="Password" type="password" required>
      </div>
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 w-full rounded-md">Sign in</button>
      <p class="text-center mt-3">
        <small class="text-gray-700">
          Don't have an account yet? <a href="{% url 'register' %}" class="text-blue-500">Sign Up</a>
        </small>
      </p>
    </form>
  </div>
  <div class="hidden md:block md:w-2/5 xl:w-3/5 bg-cover" style="background-image: url(https://unsplash.com/photos/Pd9t0Ihd5Po);"></div>
</div>
{% endblock %}
